@tailwind base;
@tailwind components;
@tailwind utilities;


/* Position dots INSIDE blue section */
.slick-dots {
  bottom: 20px !important;
}

/* Remove default button styling */
.slick-dots li button {
  padding: 0;
}

/* Inactive dot */
.slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #94a3b8; /* gray */
  border-radius: 9999px;
  opacity: 1;
  display: block;
}

/* Active dot */
.slick-dots li.slick-active button::before {
  background-color: #ffffff;
}

@keyframes spinToTop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spinToTop {
  animation: spinToTop 2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}
