@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinToTop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spinToTop {
    animation: spinToTop 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.6s ease forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.animate-slideUp {
    animation: slideUp 0.5s ease-out;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide default time input icon */
/* Hide default clock icon but keep picker working */
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
}